p:lang(bn) {
  font-family: "Noto Sans Bengali", sans-serif;
}
p:lang(fr) {
  font-style: italic;
}

.attribute-head{
    color: blue; 
}
.inputmode-attribute{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .inputmode-attribute {
    flex-direction: column;
  }
}  

/* part: */

  dialog-box::part(header) {
    background: navy;
    color: white;
    padding: 10px;
  }

  dialog-box::part(body) {
    padding: 20px;
    background: #f9f9f9;
  }

  dialog-box::part(footer) {
    text-align: right;
    padding: 10px;
    background: #eee;
  }


      
      